
body{
background-color: rgb(46, 46, 156);
margin-top: 5px;
margin-bottom: 10px;
margin-left:20px;
margin-right:5px;
height: 100vh;
width:100vh;
}
header{
background-color:rgb(96, 199, 233);
height: 130px;
width: 100vw;
text-align: right;
    
   
}
main{  
height: 100vh;
width: 100vw;
flex-direction: row;
display: flex;
margin-top: 5px;
margin-bottom: 5px;
text-align: center;
}
aside{
background: url(ie-1227-indira-gandhi.jpg);
background-size:cover; 
height: 100vh;
width: 90%;
text-align: center;
margin-left: 5px;
margin-right: 5px;
} 
h1{
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:blue;  
}
nav{
background-color:rgb(96, 199, 233);
height:100vh;
width: 10%;
display: flex;
flex-direction: column;
margin: right;
}
  
a{
color: black;
padding: 10px;
margin: 10px;
margin-bottom: 20px;
}
 
footer{
background-color:rgb(96, 199, 233);
height:15%;
width: 224%;
text-align: center;
margin-bottom: 5px;
margin-right: 5px;
padding:10px;
color: blue;
}
